{% extends "instructions/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <h6 class="alert-heading">{{ form.non_field_errors }}</h6>
        </div>
    {% endif %}

    <h3>
        <br>
        {% blocktrans %}Expenses{% endblocktrans %}
    </h3>

    <p>{% blocktrans %}In each period, during employment and retirement,
        you will have <b>Expenses</b> (in points) indicated as a negative number (-).
        The <b>Expenses</b> are automatically deducted at the start of the period.{% endblocktrans %}</p>

    <img id="graph" width="110" height="auto" src="{% static 'fig_instruct2a.png' %}"/>
    <br></br>

    <p>{% blocktrans %}The <b>Expenses</b> for each period are randomly drawn from an Expense Deck with 16 cards.
        Once an expense card is drawn it is removed from the deck.{% endblocktrans %}</p>

    <img id="graph" width="100" height="auto" src="{% static 'fig_instruct2b.png' %}"/>
    <br></br>

    <p>{% blocktrans %}You can see expenses from the current and previous periods.
        The <b>Expenses</b> for future periods are indicated by “?”.
        They are only revealed at the beginning of each period.{% endblocktrans %}</p>

    <img id="graph" width="100" height="auto" src="{% static 'fig_instruct2c.png' %}"/>
    <br></br>

    {% next_button %}

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="3"
            aria-valuemin="0" aria-valuemax="100" style="width:3%">
            <span class="sr-only">3% Complete</span>
        </div>
    </div>

    <style>
        .otree-title {
            display: none;
        }
        .otree-form-errors {
            visibility: hidden;
            display: none;
        }
    </style>

{% endblock %}


