{% extends "long/Page.html" %}
{% load otree i18n %}

{% block title %}
{% endblock %}

{% block content %}

    <h3>
    <br>
        Change in retirement
    </h3>

    <p>
        For the next two lives, there will be a change.
        You will enter retirement in Period 9 (instead of Period 13 as in lives 1 and 2).
        Your income from Period 1 to 8 will also change, according to the table below.
    </p>

        <table id="info_table" style="width: 33%">
        <colgroup>
           <col span="1" style="width: 3%;">
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
        </colgroup>

    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
        <tbody>
            <tr>
                <th></th> <th colspan="2">Income</th>
            </tr>
            <tr>
                <th>Period</th>
                <th>Old income schedule</th>
                <th>New income schedule</th>
            </tr>
            <tr>
                <td>1</td> <td>80</td> <td>80</td>
            </tr>
            <tr>
                <td>2</td> <td>90</td> <td>115</td>
            </tr>
            <tr>
                <td>3</td> <td>100</td> <td>150</td>
            </tr>
            <tr>
                <td>4</td> <td>110</td> <td>185</td>
            </tr>
            <tr>
                <td>5</td> <td>120</td> <td>220</td>
            </tr>
            <tr>
                <td>6</td> <td>130</td> <td>255</td>
            </tr>
            <tr>
                <td>7</td> <td>140</td> <td>290</td>
            </tr>
            <tr>
                <td>8</td> <td>150</td> <td>325</td>
            </tr>
            <tr>
                <td>9</td> <td>160</td> <td>0</td>
            </tr>
            <tr>
                <td>10</td> <td>170</td> <td>0</td>
            </tr>
            <tr>
                <td>11</td> <td>180</td> <td>0</td>
            </tr>
            <tr>
                <td>12</td> <td>190</td> <td>0</td>
            </tr>
            <tr>
                <td>13</td> <td>0</td> <td>0</td>
            </tr>
            <tr>
                <td>14</td> <td>0</td> <td>0</td>
            </tr>
            <tr>
                <td>15</td> <td>0</td> <td>0</td>
            </tr>
            <tr>
                <td>16</td> <td>0</td> <td>0</td>
            </tr>
        </tbody>
    </table>

    <br>

    <button class="otree-btn-next btn btn-primary" id="btn1">Next</button>

    <br></br>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="11"
            aria-valuemin="0" aria-valuemax="100" style="width:62%">
            <span class="sr-only">11% Complete</span>
        </div>
    </div>

    <script>
        // Disable the Next button for five seconds.
        var btn = $('#btn1');
        btn.prop("disabled", true);
        setTimeout(function () {
            btn.prop("disabled", false);
            }, 5000);
    </script>

    <style>
        .otree-title {
            display: none;
        }
        .otree-form-errors {
            visibility: hidden;
            display: none;
        }

        #info_table {
          {#font-family: Arial, Helvetica, sans-serif;#}
          border-collapse: collapse;
          width: 70%;
        }

        #info_table th{
            border: 1px solid #ddd;
            border-left: none;
            border-right: none;
            padding: 6px;
            text-align: center;
        }

        #info_table td{
            border: 1px solid #ddd;
            border-left: none;
            border-right: none;
            {#padding: 8px;#}
            text-align: center;
            height: 14px;
        }

        #info_table tr:nth-child(even){background-color: #f2f2f2;}

        #info_table tr:hover {background-color: #ddd;}
    </style>

{% endblock %}
